
<div  *ngFor="let client of clients">
<div class="container">
    <div class="row">
        <!-- Card Projects -->
        <div class="col-md-6 col-md-offset-3">
            <div class="card">
                <div class="card-image">
                    <img class="img-responsive companyImage" src="assets/images/NYT-wordmark.png">
                    <span class="card-title">Material Cards</span>
                </div>
                
                <div class="card-content">
                    <p> {{client.CompanyName}}</p>
                </div>
                
                <div class="card-action">
                    <a href="#" target="new_blank">Link</a>
                    <a href="#" target="new_blank">Link</a>
                    <a href="#" target="new_blank">Link</a>
                    <a href="#" target="new_blank">Link</a>
                    <a href="#" target="new_blank">Link</a>
                </div>
            </div>
        </div>
    </div>
</div>
  </div>